
<%= form_tag posts_url, method: "get", :class=>"form", :role=>"form" do %>
    <div class="row">
    <div class="col-sm-10">
    <input type="text" class="form-control" placeholder="Post key word" name="search">
  </div>
  <div class="col-sm-2", align ="right" >
    <%= submit_tag "Search", :class=>"btn btn-success"%>
  </div>
  </div>
  <% end %>
  <br>
<div class="panel panel-default">
  <div class="panel-heading" align="middle">
    <% if !session[:user_id].nil? && @forum.present? && session[:user_id] == @forum.admin_id %>
<%= link_to "Edit", forum_edit_url(@forum.id), :class => "pull-left", :style => "margin-right:8px;"%>
<%= link_to "Delete", forum_url(@forum.id), :method => 'delete', :class => "pull-left" %>
<% end %>
    <large class="panel-title"><%= @forum.forum_name %></large>
          <% if Watch.where(user_id: session[:user_id]).pluck(:forum_id).include? @forum.id %>
            <%= form_tag  watch_url(@forum.id), method: "delete", :class => "form pull-right" do%>
              <input type="hidden" name="url" value=<%= request.url %>>
            <%= submit_tag "Unwatch", :class=>"btn btn-sm btn-danger pull-right"%>
          <% end %>
          <% else %>
            <%= form_tag  watch_url(@forum.id), method: "post", :class => "form pull-right" do%>
              <input type="hidden" name="url" value=<%= request.url %>>
            <%= submit_tag "Watch", :class=>"btn btn-sm btn-primary pull-right"%>
          <% end %>          
          <% end %>
  </div>
  <div class="panel-body">
    <%= @forum.description %>
  </div>
  <hr>
  <div class="row" align="middle">
    <div class="col-sm-4">
      <label align="middle">Number of Watchers: <%= Watch.where(forum_id: @forum.id).count %></label>
    </div>
    <div class="col-sm-4">
      <label align="middle">Number of Posts: <%= Post.where(forum_id: @forum.id).count %></label>
    </div>
    <div class="col-sm-4">
      <label align="middle">Administrator: <%= link_to User.find_by_id(@forum.admin_id).user_name, user_url(@forum.admin_id) %></label>
    </div>
  </div>
</div>
  <table class="table">
            <thead>
              <tr>
                <th>Post Title</th>
                <th>Poster</th>
                <th>Time</th>
                <th><small>Comments</small></th>
              </tr>
            </thead>
            <tbody>
  <% if !@posts.nil? %>
  <% @posts.each do |post| %>
              <tr>
                <td><%= link_to post.title, post_url(post.id) %></td>
                <td><%= link_to User.find_by_id(post.poster_id).user_name, user_url(post.poster_id) %></td>
                <td><%= post.date %></td>
                <td><%= Comment.where(post_id: post.id).count %></td>
              <td><% if Like.where(user_id: session[:user_id]).pluck(:post_id).include? post.id %>
                <%= form_tag  like_url(post.id), method: "delete", :class => "form pull-right" do%>
              <input type="hidden" name="url" value=<%= request.url %>>
              <%= submit_tag "Unlike", :class=>"btn btn-sm btn-danger pull-right"%>
            <% end %> 
          <% else %>
                <%= form_tag  like_url(post.id), method: "post", :class => "form pull-right" do%>
              <input type="hidden" name="url" value=<%= request.url %>>
              <%= submit_tag "Like", :class=>"btn btn-sm btn-primary pull-right"%>
            <% end %>  
          <% end %></td>
              </tr>
  <% end %>
            </tbody>
          </table>
  <% end %>
<hr>
<%if !session[:user_id].nil? %>
<div class="container">
<h2 align="middle">Create new Post</h2>
<%= form_tag posts_url, :method => 'post', :class=>"form", :role=>"form" do %>
  <label>Title:</label>
  <input class="form-control" type="text" name="title" placeholder="Title">
  <label>Content:</label>
  <textarea class="form-control" cols="80" name="content"></textarea>
  <br>
  <input name="top" type="hidden" value="false"></input>
  <input name="important" type="hidden" value="false"></input>
  <input name="forum_id" type="hidden" value=<%= @forum.id %>></input>
  <input type="submit" class="btn btn-primary" value="Submit">
<% end %>
</div>
<% end %>