  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Real name</th>
        <th>Gender</th>
        <th><small>Followers</small></th>
      </tr>
    </thead>
    <tbody>
      <% if !@users.nil? %>
      <% (@page.to_i*10..@page.to_i*10+9).each do |i| 
    user = @users[i]
    if user.nil?
      break
    end %>
          <tr>
            <td><%= link_to user.user_name, user_url(user.id) %></td>
            <td><%= user.real_name %></td>
            <td><%= user.gender %></td>
            <td><%= Follow.where(leader_id: user.id).count %></td>
            <td>
            <% if Follow.where(follower_id: session[:user_id]).pluck(:leader_id).include? user.id %>
            <%= form_tag follow_url(user.id), method: "delete", :class => "form pull-right" do%>
              <input type="hidden" name="url" value=<%= request.url %>>
              <%= submit_tag "Unfollow", :class=>"btn btn-sm btn-danger pull-right"%>
            <% end %> 
          <% else %>
                <%= form_tag follow_url(user.id), method: "post", :class => "form pull-right" do%>
              <input type="hidden" name="url" value=<%= request.url %>>
              <%= submit_tag "Follow", :class=>"btn btn-sm btn-primary pull-right"%>
            <% end %>      
          <% end %>
        </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div>
  <nav align="middle">
  <ul class="pagination">
    <li>
      <% if @page == 0 %>
      <a href="#" aria-label="Previous" style="
   pointer-events: none;
   cursor: default;
   color:grey;">
      <% else %>
      <a href="<%= request.url+$plus %>page=<%= @page - 1 %>" aria-label="Previous">
      <% end %>
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% if @users.length%10 == 0
        $count = @users.length/10
       else
        $count = @users.length/10 + 1
       end
       (1..$count).each do |i|
         %> 

    <li><a href="<%= request.url+$plus %>page=<%= i-1 %>" id="page"><%= i %></a></li>
    <% end %>
  <li>
      <% if @page == $count - 1 %>
      <a href="#" aria-label="Next" style="
   pointer-events: none;
   cursor: default;
   color:grey;">
      <% else %>
      <a href="<%= request.url+$plus %>page=<%= @page + 1 %>" aria-label="Next">
      <% end %>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>