
<div class="panel panel-default">
  <div class="panel-heading" align="middle">
    <label class="panel-title">User Information</label>
      <% if !session[:user_id].nil? %>
          <% if Follow.where(follower_id: session[:user_id]).pluck(:leader_id).include? @user.id %>
          <%= form_tag follow_url(@user.id), method: "delete", :class => "form pull-right" do%>
              <input type="hidden" name="url" value=<%= request.url %>>
              <%= submit_tag "Unfollow", :class=>"btn btn-sm btn-danger pull-right", :style => "margin-top:-4px;"%>
            <% end %> 
          <% else %>
                <%= form_tag follow_url(@user.id), method: "post", :class => "form pull-right" do%>
              <input type="hidden" name="url" value=<%= request.url %>>
              <%= submit_tag "Follow", :class=>"btn btn-sm btn-primary pull-right", :style => "margin-top:-4px;"%>
            <% end %>            
          <% end %>
          <% end %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
  	<ul class="list-group">
      <li class="list-group-item"><label>Username:</label> <%= @user.user_name %></li>
      <li class="list-group-item"><label>level: </label> <%= Level.find_by(user_id: @user.id).level.to_i %></li>
      <li class="list-group-item"><label>Gender: </label> <%= @user.gender %></li>
      <li class="list-group-item"><label>Birthday: </label> <%= @user.birthday.to_date %></li>
      <li class="list-group-item"><label>Real name:</label> <%= @user.real_name %></li>
      <li class="list-group-item"><label>Address: </label> <%= @user.address %></li>
      <li class="list-group-item"><label>Email: </label> <%= @user.email %></li>
    </ul>
  </div>
    <div class="col-sm-6" align="middle">
        <img src="<%= @user.avatar %>" height="300" width="300" ></img>
    </div>
  </div>
    <table class="table table-striped" align="middle">
      <thead>
      	<tr>
          <th><%= link_to "Forums", "/forums?user_id=#{@user.id}" %>: <%= Forum.where(admin_id: @user.id).count %></th>
          <th><%= link_to "Watches", "/forums?watch=#{@user.id}" %>: <%= Watch.where(user_id: @user.id).count %></th>
      	  <th><%= link_to "Posts", "/posts?user_id=#{@user.id}" %>: <%= Post.where(poster_id: @user.id).count %></th>
      	  <th><%= link_to "Leaders", "/users?follow=#{@user.id}" %>: <%= Follow.where(follower_id: @user.id).count %></th>
      	  <th><%= link_to "Followers", "/users?leader=#{@user.id}" %>: <%= Follow.where(leader_id: @user.id).count %></th>
      	</tr>
      </thead>
  </table>
    <% if session[:user_id] == @user.id %>
      <%= link_to "Edit My Profile", user_edit_url(@user.id), :class => "btn btn-lg btn-primary" %>
      <%= link_to "Change Password", user_editpw_url(@user.id), :class => "btn btn-lg btn-primary pull-right" %>
    <% end %>
  </div>
</div>
