<style>
  label { width: 100px; vertical-align: middle;}
</style>
<% if session[:user_id].nil?%>
  <script language="JavaScript">alert("Please log in first")</script>
  <script type='text/javascript'>window.location.href= '<%= root_url %>'</script>
<% end %> 
<% if session[:user_id] != @post.poster_id && session[:user_id] != Forum.find_by_id(@post.forum_id).admin_id %>
  <script language="JavaScript">alert("No permission!")</script>
  <script type='text/javascript'>window.location.href= '<%= root_url %>'</script>
<% end %>
<h2>Edit your Post:</h2>
<div class="container">
<%= form_tag post_url(@post.id), :method => 'patch', :class=>"form", :role=>"form" do %>
  <label>Title:</label>
  <input class="form-control" type="text" name="title" placeholder="title" value='<%= @post.title %>'>
  <label>Real name:</label>
  <textarea class="form-control" name="content"><%= @post.content %></textarea>
  <br>
  <input type="submit" class="btn btn-primary" value="Submit">
<% end %>
</div>