
<% $url = request.url
         if $url.include? "?"
          $plus = "&"
         else
          $plus = "?"
        end

       %>
<div class="panel panel-default">
  <div class="panel-heading" align="middle">
    <%= link_to Forum.find_by_id(@post.forum_id).forum_name, forum_url(@post.forum_id) %>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @post.title %>

        <% if !session[:user_id].nil? && (session[:user_id] == @post.poster_id || session[:user_id] == Forum.find_by_id(@post.forum_id).admin_id ) %>
          <%= link_to "Edit", post_edit_url(@post.id), :style => "margin-right:10px; margin-left:10px;" %>
          <%= link_to "Delete", post_url(@post.id), :method => 'delete' %>
        <% end %>
      <div class="pull-right">
        <% if !session[:user_id].nil? %>
<% if Like.where(user_id: session[:user_id]).pluck(:post_id).include? @post.id %>
                <%= form_tag  like_url(@post.id), method: "delete", :class => "form pull-right" do%>
              <input type="hidden" name="url" value=<%= request.url %>>
              <%= submit_tag "Unlike", :class=>"btn btn-sm btn-danger pull-right", :style => "position:relative; bottom: 6px;"%>
            <% end %> 
          <% else %>
                <%= form_tag  like_url(@post.id), method: "post", :class => "form pull-right" do%>
              <input type="hidden" name="url" value=<%= request.url %>>
              <%= submit_tag "Like", :class=>"btn btn-sm btn-primary pull-right", :style => "position:relative; bottom: 6px;"%>
            <% end %>  
          <% end %>
        <% end %>
      </div>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2">
        <p><%= link_to User.find_by_id(@post.poster_id).user_name, user_url(@post.poster_id) %><p>
        <label>Level: <%= User.find_by_id(@post.poster_id).level.to_i %></label>
        <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%= ((User.find_by_id(@post.poster_id).level - User.find_by_id(@post.poster_id).level.to_i) * 100).to_i%>%">
      <%= ((User.find_by_id(@post.poster_id).level - User.find_by_id(@post.poster_id).level.to_i) * 100).to_i%>%
    </div>
  </div>
      </div>
      <div class="col-sm-10">
        <p><%= @post.content %><p><br><br><br>
        <small class="pull-right"><%= @post.date %></small>
      </div>
    </div>
  </div>  
  <% if !@comments.nil? %>
  <% (@page.to_i*10..@page.to_i*10+9).each do |i| 
    comment = @comments[i]
    if comment.nil?
      break
    end %>
    <div class="panel-body">
    <hr>
    <div class="row">
      <div class="col-sm-2">
        <p><%= link_to User.find_by_id(comment.commenter_id).user_name, user_url(comment.commenter_id) %><p>
        <label>Level: <%= User.find_by_id(comment.commenter_id).level.to_i %></label>
        <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%= ((User.find_by_id(comment.commenter_id).level - User.find_by_id(comment.commenter_id).level.to_i) * 100).to_i%>%">
      <%= ((User.find_by_id(comment.commenter_id).level - User.find_by_id(comment.commenter_id).level.to_i) * 100).to_i%>%
    </div>
  </div>
      </div>
      <div class="col-sm-10">
        <div class="pull-right">
          <% if session[:user_id].present? && (session[:user_id] == comment.commenter_id || session[:user_id] == Forum.find_by_id(Post.find_by_id(comment.post_id).forum_id).admin_id) %>
            <%= link_to "Edit", comment_edit_url(comment.id), :style => "margin-right:10px;" %>
            <%= link_to "Delete", comment_url(comment.id), method: "delete"%>
          <% end %>
        </div>
        <br>
        <p><%= comment.content %><p>
        <small class="pull-right"><%= comment.date %></small>
      </div>
    </div>
    </div>  

  <% end %>
  <% end %>
</div>
  <div>
  <nav align="middle">
  <ul class="pagination">
    <li>
      <% if @page == 0 %>
      <a href="#" aria-label="Previous" style="
   pointer-events: none;
   cursor: default;
   color:grey;">
      <% else %>
      <a href="<%= request.url+$plus %>page=<%= @page - 1 %>" aria-label="Previous">
      <% end %>
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% if @comments.length%10 == 0
        $count = @comments.length/10
       else
        $count = @comments.length/10 + 1
       end
       (1..$count).each do |i|
         %> 

    <li><a href="<%= request.url+$plus %>page=<%= i-1 %>" id="page"><%= i %></a></li>
    <% end %>
  <li>
      <% if @page == $count - 1 %>
      <a href="#" aria-label="Next" style="
   pointer-events: none;
   cursor: default;
   color:grey;">
      <% else %>
      <a href="<%= request.url+$plus %>page=<%= @page + 1 %>" aria-label="Next">
      <% end %>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
<%if !session[:user_id].nil? %>
<div class="container">
<h2 align="middle">Comment this Post</h2>
<%= form_tag comments_url, :method => 'post', :class=>"form", :role=>"form" do %>
  <label>Content:</label>
  <textarea class="form-control" cols="80" name="content"></textarea>
  <input type="hidden" name="post_id", value=<%= @post.id %>></input>
  <br>
  <input type="submit" class="btn btn-primary" value="Submit">
<% end %>
</div>
<% end %>