<!DOCTYPE html>
<html>
<head>
  <title>Super Forum</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
    h1 {
      border-bottom: solid 3px gray;
      margin-bottom: 24px;
    }
  </style>
</head>
<% if session[:user_id].present? 
     if User.find_by_id(session[:user_id]).nil?
       session[:user_id] = nil; 

     end 
   end %>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Home", root_url, :class => "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if session[:user_id].present? %>
              <li><%= link_to "Leaders", "/users?follow=#{session[:user_id]}" %></li>
              <li><%= link_to "Forums Watched", "/forums?watch=#{session[:user_id]}" %></li>
              <li><%= link_to "Posts Liked", "/posts?like=#{session[:user_id]}" %></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mine <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Posts", "/posts?user_id=#{session[:user_id]}" %></li>
                <li><%= link_to "My Forums", "/forums?user_id=#{session[:user_id]}" %></li>
              </ul>
            </li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if session[:user_id].present? %>
            <li>
              <%= form_tag users_url, method: "get", :class=>"form-inline", :role=>"form", :style=>"margin-top:8px;" do %>
              <input type="text" class="form-control" placeholder="Search Users" name="search">
              <%= submit_tag "Search", :class=>"btn btn-success"%>
              <% end %>
            </li>
              <li><%= link_to User.find_by_id(session[:user_id]).user_name, user_url(session[:user_id]) %></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="https://cdn4.iconfinder.com/data/icons/imod/512/Hardware/pignon.png" height="20" width="20"></img> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit Profile", user_edit_url(session[:user_id]) %></li>
                <li><%= link_to "Change password", user_editpw_url(session[:user_id]) %></li>
                <li><%= link_to "Delete this account", user_url(session[:user_id]), method: "delete" %></li>
                <li class="divider"></li>
              <li><%= link_to "Sign Out", signout_url %></li>
              </ul>
            </li>
            <% else %>
              <li><%= link_to "Sign Up", signup_url %></li>
              <li><%= form_tag sessions_url, :method => 'post', :class=>"form-inline", :role=>"form", :style=>"margin-top:8px;" do %>
              <input type="text" class="form-control" placeholder="Enter username" name="user_name">
              <input type="password" class="form-control" placeholder="Enter password" name="password">
              <%= submit_tag "Login", :class=>"btn btn-primary"%>
                <% end %>
              </li>
            <% end %>
              <li><a data-toggle="modal" data-target="#myModal">Instructions</a></li>
          </ul>
        </div>
      </div>
    </nav>

  <div class="container" style="margin-top: 60px;">

    <% if notice.present? %>
      <div class="alert alert-danger"%>
        <%= notice %>
      </div>
    <% end %>

    <% if session[:user_id].nil? %>
      <div class="well well-sm">
        <p align="middle" style="color:red;margin-bottom:-1px;">Login to Create Your Own Forum!</p>
      </div>
    <% end %>

    <%= yield %>

  </div>

</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="bs-docs-footer">
<p align="middle">Super Forum final version&nbsp;&nbsp;&nbsp;&nbsp;Build: 20150606<br>
@2015 Mu Du&Jiaming Dong All rights reserved.</p>
</footer>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Instructions for Super Forum</h4>
      </div>
      <div class="modal-body">
        <ul>
          <label class="h2">Functions:</label>
          <li>Sign in/out</li>
          <li>Create/Manage Your Own Forums.</li>
          <li>Search Users/Forums/Posts.</li>
          <li>Manage Your Profiles.</li>
          <li>Add Posts in a Forum.</li>
          <li>Comment the Posts.</li>
          <li>Follow/Unfollow.</li>
          <li>Watch/Unwatch Forums.</li>
          <li>Like/Unlike Forums.</li>
          <li>Other Attractive Features Waiting For You to Find Out!</li>
          <h2>Contact:</h2>
          MuDu@uchicago.edu <br>
          jiamingd@uchicago.edu
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</html>
<script>

      $(function(){
        $('#about').on('click',function(){  

        });

        
      });
      


    </script>
